.o-image-product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 12rem;
}

.o-image-product {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  overflow: hidden;
  border: 1px solid #00d4d8;
  border-radius: 50%;
  margin-right: 1rem;
}

.o-body-content {
  display: flex;
  justify-content: center;
}

.o-quantity-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6rem;
}

.o-quantity-icon {
  color: #00d4d8;
  font-weight: bold;
}

.o-quantity-icon:hover {
  cursor: pointer;
}
